name: Liquibase Check

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  liquibase:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Liquibase validate
        uses: liquibase-github-actions/liquibase-action@v4
        with:
          operation: validate
          changelogFile: changelog/db.changelog-master.xml
