name: Liquibase Check

on:
  push:
    branches: [ "master", "main" ]
  pull_request:

jobs:
  liquibase:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Download Liquibase
        run: |
          curl -L https://github.com/liquibase/liquibase/releases/download/v5.0.1/liquibase-5.0.1.zip -o liquibase.zip
          unzip liquibase.zip
          chmod +x liquibase/liquibase

      - name: Run Liquibase validate
        run: |
          liquibase/liquibase validate

